@import './style/fonts';

$bg: tomato;

body{
  display: flex;
  justify-content: center;
  background-color: $bg;
}
.Arial{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.OpenSans{
  font-family: OpenSans;
}